ion-icon {
  margin-inline-end: 0;
  margin-inline-start: 0;

  &.tiny {
    font-size: calc(var(--grid) * 2);
  }

  &.small {
    font-size: calc(var(--grid) * 4);
  }

  &.medium {
    font-size: calc(var(--grid) * 6);
  }

  &.large {
    font-size: calc(var(--grid) * 8);
  }

  &.x-large {
    font-size: calc(var(--grid) * 12);
  }
}
