.post-comment-item {
  .button-options {
    height: 8px;
    vertical-align: middle;
  }

  .comment-body {
    padding: 12px;
    background-color: var(--ion-color-light);
    border-radius: 0 16px 16px 16px;
  }

  .comment-text {
    margin-top: 8px;
  }

  ion-avatar {
    margin-top: 8px;
  }

  .comment-footer {
    .vertical-divider {
      height: 100%;
      width: 1px;
      background-color: var(--ion-color-light);
    }

    ion-button {
      width: 16px;
      height: 16px;

      --padding-start: 0;
      --padding-end: 0;

      vertical-align: middle;
    }
  }
}
