.notification-item {
  padding: 8px 4px;
  border-top: 1px solid var(--ion-color-light);
  border-bottom: 1px solid var(--ion-color-light);
  margin-bottom: -1px;

  &.unread {
    background-color: var(--ion-color-light-tint);
    border-top: 1px solid var(--ion-color-light-shade);
    border-bottom: 1px solid var(--ion-color-light-shade);
  }
}
