.newsletter-item {
  width: 100%;
  border: 1px solid var(--ion-color-light-shade);

  .item-figure {
    height: 80px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  .item-body {
    padding: 8px;
    line-height: 1.2em;
  }

  .item-title {
    margin-bottom: 12px;
  }

  .item-author-thumbnail {
    border-radius: 2px;
  }
}
