.hide-on-mobile {
  display: none;

  @media (--viewport-tablet) {
    display: block;
  }
}

.hide-on-tablet {
  display: block;

  @media (--viewport-tablet) {
    display: none;
  }
}

.hide-on-desktop {
  display: block;

  @media (--viewport-desktop) {
    display: none;
  }
}
