/*
* Ionic
*/

/* Normalize */
@import './partials/_normalize.pcss';

/* Setting */
@import './partials/_variables.pcss';
@import './partials/_theming.pcss';

/* Core css */
@import './partials/_core.pcss';
@import './partials/_app.pcss';
@import './partials/_global.pcss';
@import './partials/_typography.pcss';

/* Util CSS */
@import './partials/_display.pcss';
@import './partials/_spacing.pcss';
