@import '../../../../styles/partials/_mixins.pcss';

.page {
  &__content {
    @mixin spaceTop padding, var(--space-m);
    @mixin spaceBottom padding, var(--space-m);
    @mixin spaceLeft padding, var(--space-m);
    @mixin spaceRight padding, var(--space-m);

    @media (--viewport-tablet) {
      @mixin spaceTop padding, var(--space-s);
      @mixin spaceBottom padding, var(--space-s);
    }
  }
}
