ion-searchbar {
  padding-inline-start: unset !important;
  padding-inline-end: unset !important;
  padding-top: calc(var(--grid) * 2) !important;
  padding-bottom: calc(var(--grid) * 2) !important;
  height: calc(var(--grid) * 8) !important;
}
