/* Card */
ion-card {
  margin-inline-start: unset;
  margin-inline-end: unset;
  box-shadow: 0 1px 2px var(--shadow-m);
  border: 0.2px solid var(--ion-color-light-tint);

  ion-card-header,
  ion-card-content {
    padding: 0 !important;
  }
}
