.post-item {
  background-color: var(--ion-color-light);
  margin-bottom: 8px;
  position: relative;
  border: 1px solid grey;

  .post-options {
    position: absolute;
    top: 0;
    right: 0;
  }

  .post-item-header {
    padding: 8px 48px 8px 8px;
  }

  .post-item-narrative {
    border-bottom: 1px solid var(--ion-color-light);
  }

  .post-item-narrative,
  .post-item-description {
    padding: 8px;
    line-height: 1.5em;
  }

  .post-item-description a {
    text-decoration: none;
    font-weight: 700;
  }

  .post-item-stats {
    padding: 0 8px;
    font-size: 12px;

    ion-icon,
    ion-text {
      vertical-align: middle;
    }
  }

  .post-item-media {
    background-color: var(--ion-color-light-tint);

    img {
      width: 100%;
    }

    .media-source {
      padding: 4px 8px;
      line-height: 1.4em;

      ion-icon {
        vertical-align: middle;
      }
    }
  }

  .post-item-footer {
    border-top: 1px solid var(--ion-color-light);
    text-transform: none;
  }
}
