.post-comments {
  padding: 8px;

  .panel-title {
    margin-bottom: 8px;
  }

  .icon-sort {
    transform: rotate(90deg);
  }

  .replies-list {
    padding-left: 64px;
  }

  .button-show-more {
    margin-top: 8px;
    margin-bottom: 8px;
  }
}
