.side-menu {
  height: 100%;

  &__logo {
    padding-left: calc(var(--grid) * 4);
    padding-top: calc(var(--grid) * 4);
    padding-bottom: calc(var(--grid) * 2);
    width: calc(var(--grid) * 40);
  }
}
