.toolbar-search {
  .button-avatar {
    width: 30px;
    height: 30px;
    border: 1px solid #fff;
    position: relative;

    .icon-menu {
      position: absolute;
      right: -6px;
      bottom: -2px;
      background-color: #fff;
      border: 1px solid #fff;
      border-radius: 50%;
      width: 16px;
      height: 16px;
      text-align: center;
    }

    ion-icon {
      width: 11px;
      margin-top: -1px;
    }
  }

  .pos-rlt {
    position: relative;
  }

  .badge-message {
    position: absolute;
    top: 0;
    right: 4px;
    font-size: 8px;
    padding: 2px 4px;
    border: 1px solid #fff;
  }
}
