.new-post-page {
  .floating-avatar {
    position: absolute;
    top: -24px;
    z-index: 999;
    left: 50%;
    margin-left: -24px;
    border: 1px solid #fff;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05);
  }
}
