.avatar-group {
  display: inline-block;
  vertical-align: middle;
  margin-right: 4px;

  .avatar-item {
    display: inline-block;
    z-index: 10;

    & + .avatar-item {
      margin-left: -8px;
    }

    ion-avatar {
      border: 1px solid #fff;
    }
  }
}
